<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>strings</key>
	<dict>
		<key>CheckForAccess</key>
		<string>Check the box for %@ to grant the requested permission. Then restart %@.</string>
		<key>CheckMultipleForAccess</key>
		<string>Check all the boxes in the section %@ to allow control of the corresponding applications. Then restart %@.</string>
		<key>DragForAccess</key>
		<string>Drag the %@ icon to the above list to grant the requested permission.</string>
	</dict>
	<key>keys</key>
	<dict>
		<key>Privacy_Accessibility</key>
		<string>DragForAccess</string>
		<key>Privacy_Automation</key>
		<string>CheckMultipleForAccess</string>
		<key>Privacy_AllFiles</key>
		<string>DragForAccess</string>
		<key>Privacy_Default</key>
		<string>CheckForAccess</string>
	</dict>
</dict>
</plist>
